html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
path.react-flow__edge-path {
  stroke-width: 4;
  stroke: #ddd;
}
path.react-flow__edge-path:hover {
  stroke-width: 4;
  stroke: #555;
  cursor: pointer;
}
path.react-flow__edge-path {
  stroke-width: 4;
}